---

let buttonText = Astro.props;

---


<button type="button" class="button"> {buttonText} </button>

<style>
.button {
	background-color: #440b70;
	color: #FFFFFF;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 6px;
}
}
</style>