---

const buttonText = Astro.props;

---


<button type="button" class="button"> <slot /> </button>

<style>
.button {
	background-color: rgba(68, 11, 112, 0.8);
	color: #FFFFFF;
	padding: 0.6rem 2rem;
	font-size: 1rem;
	border-radius: 10px;
	margin: 0 0.8rem;
	border: none;
}
</style>