---
---

<div class="card-holder">
  <div class="card">
    <a href="/services">
      <div class="card-img-wrapper">
        <figure>
          <img
            src="https://luckyxp.sirv.com/Cards%20Main/CardsMainImg1.jpeg?cx=440&cw=1140&h=945"
            alt=""
          />
        </figure>
      </div>
      <div class="card-body">
        <h3 class="card-title"><span> WHAT WE DO</span></h3>
        <p>
          Since 2002, Lucky Marketing has been providing event staffing
          solutions in all facets of the experiential marketing world around the
          United States and Canada. Find out how we can help make your event a
          success.
        </p>
      </div>
    </a>
  </div>

  <div class="card">
    <a href="/team">
      <div class="card-img-wrapper">
        <figure>
          <img
            src="https://luckyxp.sirv.com/Cards%20Main/CardsMainImg2.png?cw=1140&h=945"
            alt=""
          />
        </figure>
      </div>
      <div class="card-body">
        <h3 class="card-title"><span> GET TO KNOW US</span></h3>
        <p>
          We are event staffing professionals with a collective 30 years of
          experience in the field. Learn a bit more about us, or send us an
          email so we can get to know more about you and your project!
        </p>
      </div>
    </a>
  </div>

  <div class="card">
    <a href="/contact_us">
      <div class="card-img-wrapper">
        <figure>
          <img
            src="https://luckyxp.sirv.com/Cards%20Main/CardsMainImg3.png?ch=945&w=1140"
            alt=""
          />
        </figure>
      </div>
      <div class="card-body">
        <h3 class="card-title"><span> CONTACT US</span></h3>
        <p>
          We'd love to hear from you! <br /> Contact us any time for a no obligation
          quote for your project. Our prices are surprisingly affordable and our
          customer service is superb!
        </p>
      </div>
    </a>
  </div>
</div>

<style>
  * {
    padding: 0;
    margin: 0;
  }

  .card-holder {
    margin: 2rem auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    overflow: hidden;
  }

  .card {
    width: 380px;
    text-align: center;
    margin: 0 0.8rem;
  }

  .card a {
    color: #440b70;
    text-decoration: none;
  }

  .card a :hover {
    color: #7b40a7;
  }

  .card img {
    width: 100%;
    object-fit: cover;
  }

  .card figure {
    overflow: hidden;
  }

  .card figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .card figure:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .card .card-body {
    background: rgb(240, 221, 255);
    background: linear-gradient(
      0deg,
      rgb(231, 200, 255) 0%,
      rgb(245, 233, 255) 100%
    );
    padding: 2rem 1rem;
    margin-top: -0.2rem;
    height: 10rem;
    font-size: 1.2rem;
  }

  .card .card-body p {
    margin-top: 0.5rem;
  }

  @media only screen and (max-width: 900px) {
    .card-holder {
      flex-flow: column wrap;
    }

    .card .card-body {
      height: 6.5rem;
    }

    .card {
      margin: 1rem 0;
      width: 85vw;
    }

    .card img {
      height: fit-content;
      object-fit: cover;
    }
  }
</style>
