---
import MainLayout from '../layouts/MainLayout.astro'
let title = "New Staff - Lucky XP Marketing"
---

<MainLayout title={title}>

    <div id="container">
    <h1>
        Please fill out the form below:
    </h1>
        <iframe seamless class="airtable-embed" src="https://airtable.com/embed/shr9TIvrUolx2NNH8?backgroundColor=teal" style="background: transparent; ">
        </iframe>
    </div>


</MainLayout>

<style>

#container {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100%);
}

h1 {
    font-size: 2rem;
    color: #440b70;
}

iframe {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100vh;
}


</style>