---
import MainLayout from "../layouts/MainLayout.astro";

let title = "About Us - Lucky XP Marketing";
---

<MainLayout title={title}>
  <div class="mkg-type">
    <div class="mkg-img">
      <img
        src="https://luckyxp.sirv.com/About%20Us/AboutUsPostcardsContactless.png?cx=2&cw=992"
        alt=""
      />
    </div>
    <div class="mkg-desc">
      <h2>CONTACTLESS MARKETING & POSTCARD MARKETING</h2>
      <p>
        Lucky Marketing and Promotions is offering the following safe and
        contactless services:
      </p>
      <ul>
        <li>
          Door hanger Distribution in targeted markets. Our staff is provided
          with a sanitation kit for activation. Door hangers are delivered
          safely to consumers in a targeted zip code; Door hanger campaigns have
          a very quick turnaround.
        </li>
        <li>
          Targeted postcards with client-chosen demographics. Postcard campaigns
          can be implemented 2 business days after the order is approved by the
          client.
        </li>
        <li>Postering Street Teams</li>
        <li>
          Staff work independently to distribute posters in-market to promote
          client event/service(s).
        </li>
        <li>Flyer Drops</li>
        <li>
          Staff completes flyer drops in-market, provided with a sanitation kit
          for the safety of themselves and others. Poster and flyer drop
          campaigns can be implemented in 1 business day in most markets.
        </li>
        <li>Sign Spinners</li>
        <li>
          Sign Spinners work independently in a contact-free environment. Each
          staff member is strategically placed for ideal exposure to targeted
          demographics in-market.
        </li>
        <li>
          ALL staff members working receive a sanitation kit (containing a
          fabric face mask and hand sanitizer and/or latex gloves) for the
          protection of themselves and others.
        </li>
      </ul>
    </div>
  </div>
  <div class="mkg-type2">
    <div class="mkg-img">
      <img
        src="https://luckyxp.sirv.com/About%20Us/AboutUsGuerillaMarketing.jpg"
        alt=""
      />
    </div>
    <div class="mkg-desc">
      <h2>STREET TEAMS & GUERRILLA MARKETING</h2>
      <p>
        Lucky Marketing and Promotions is an international Event Staffing and
        Promotions company that works day and night provide our clients with the
        representation that their brand deserves.
        <br />
        With a database of over 100,000 event staff, brand ambassadors, flyer teams,
        street teams, concert street teams, beverage sampling teams, models, trade
        show hosts, market managers, concert event hosts, and tour managers we provide
        all types of talent for events throughout the United States and Canada for
        a variety of promotional marketing events and promotions.
        <br />
        We have been in business since 2003 and enjoy a fantastic reputation with
        our clients and brand ambassadors alike. We focus on client satisfaction
        and fairness within the brand ambassador community. We work with each client
        on an individual basis to be certain that their project receives the attention
        that it needs and most importantly, deserves. For a quote, email <a
          href="mailto:info@lucky415.com">info@lucky415.com</a
        > or give us a call at <a href="tel:415-365-0041">415-365-0041</a>.
      </p>
    </div>
  </div>
  <div class="mkg-type">
    <div class="mkg-img">
      <img src="https://luckyxp.sirv.com/About%20Us/AboutUs2.jpg" alt="" />
    </div>
    <div class="mkg-desc">
      <h2>BRAND AMBASSADORS & SPECIAL EVENT STAFF</h2>
      <p>
        We have experience managing events annually and repeatedly. We have
        provided brand ambassador teams for thousands of concert promotional
        tours including and not limited to Motley Crue concerts, The Dew Tour,
        The Winter X-Games and Summer X – Games, The American Idol tour, The
        Projekt Revolution tour, Duran Duran's US and Canada tour, and the
        Maroon 5 tour.
        <br />
        We pride ourselves in our client portfolio. Our experiences leads us to provide
        only the best service and exchanges available. With years of providing promotional
        models for over 300 events for New Castle, Summer Ale, Heineken, Dos Equis,
        and Amstel Light as well as Promotional Model Hostesses for Duran Duran concerts
        in the U.S. and Canada, we have the experience to provide our clients with
        outstanding representation. We have the capacity to provide street teams
        and event teams for any type of event.
        <br />
        Some of the brands we have recently represented have included ABC, Adidas,
        Axe, BART, Blue Moon Beer, Cover Girl, Coca Cola, Dos Equis, Duran Duran,
        Ebay, Gamesa cookies, Gossip Girls, Heineken, Honda, Jones Soda, Lexus, Miller
        Light, NBC, New Castle, NBC, Nike, Nowwhat.com, North Face, Pepsi Cola, Peacockalleygifts.com,
        Playboy, Polo, Race for the Cure, Ralph Lauren, Reebok, State Farm, Sunchips,
        Streetspark.com,South Park, Sports Illustrated, Summer Ale Beer, Sony, Sunchips,
        Toasted Head Wine, Tostitos, Vera Bradley, Virgin Airlines and many more.
      </p>
    </div>
  </div>
  <div class="mkg-type2">
    <div class="mkg-img">
      <img src="https://luckyxp.sirv.com/About%20Us/AboutUs3.jpg" alt="" />
    </div>
    <div class="mkg-desc">
      <h2>RETAIL DEMOS & WILD POSTING</h2>
      <p>
        Since 2002 we have specialized in nationwide event staffing, street
        teams, nightlife event teams, guerrilla marketing, buzz marketing, trade
        show hosts, beverage sampling, grand opening teams, concert staffing,
        mobile tour staffing, sampling teams, college sampling teams, costume
        teams, labor teams for events, mobile tour teams, tour managers, trade
        show teams, bar promo models, as well as providing brand ambassadors for
        large and small scale promotions throughout the United States and
        Canada.
        <br />
        We have also designed, promoted, and executed many promotional programs for
        clients.
        <br />
        From large cities to small towns, we represent the majority of markets within
        the United States, as well as many markets in Canada.
      </p>
    </div>
  </div>
  <div class="mkg-type3">
    <h2>WHAT WE DO</h2>
    <div class="mkg-lists">
      <ul>
        <li>Street teams</li>
        <li>Sampling teams (Sampling management)</li>
        <li>Amusement Parks</li>
        <li>Auto Shows</li>
        <li>Bar promotional models</li>
        <li>Beverage sampling teams</li>
        <li>Cause Marketing Events</li>
        <li>CDL Drivers</li>
        <li>Character Appearances</li>
        <li>College Promotions</li>
        <li>College Event Teams</li>
        <li>College Street Teams</li>
        <li>College Sampling</li>
        <li>Concerts</li>
        <li>Concert Tours</li>
        <li>Contactless Marketing Services</li>
        <li>Costume Teams</li>
        <li>Direct Mail</li>
        <li>Event Staffing</li>
        <li>Ethnic or Bilingual Programs</li>
        <li>Fairs/Festivals</li>
        <li>Flyer teams</li>
        <li>Grand opening teams (Nationwide)</li>
        <li>Grassroots/Viral Marketing</li>
        <li>Golf tournament teams</li>
        <li>Guerrilla marketing promotions</li>
        <li>Guerrilla Marketing/Street Teams</li>
        <li>In-Store Demonstrations</li>
        <li>Lead Generation/Surveys</li>
        <li>Lollapalooza</li>
        <li>Mall events</li>
        <li>Marketing Managers</li>
        <li>Makeup Artists</li>
        <li>Models</li>
        <li>Moscone Center Trade Show Hosts</li>
        <li>Mystery Shopping</li>
        <li>Nationwide Street-teams</li>
        <li>Nationwide mobile tour teams</li>
        <li>Nightlife Promotions</li>
        <li>Postcards</li>
        <li>Product Launches</li>
        <li>Product Sampling</li>
        <li>Sampling Promotions</li>
        <li>San Francisco Street Teams</li>
        <li>San Francisco Guerilla Marketing</li>
        <li>San Diego talent</li>
        <li>Secret shoppers</li>
        <li>Spring Break teamSports/Athletic Events</li>
        <li>Sports Marketing Events</li>
        <li>Street-team events (Nationwide)</li>
        <li>Street-team promotions (Nationwide)</li>
        <li>Street-Teams (Nationwide)</li>
        <li>Summer-X-Games</li>
        <li>Event-Talent</li>
        <li>Trade Show hosts</li>
        <li>Tour Managers</li>
        <li>Wine Sampling teams</li>
        <li>Wine Tasting Teams</li>
        <li>Aspen Co (Winter X-games event staff)</li>
        <li>Summer X Games (LA)</li>
      </ul>
    </div>
  </div>
</MainLayout>

<style>
  h1,
  h2,
  a {
    color: #440b70;
  }

  p {
    line-height: 1.6rem;
  }

  .mkg-type {
    max-width: 1160px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mkg-type2 {
    max-width: 1160px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .mkg-type3 {
    max-width: 1160px;
    margin: 0 auto;
    padding: 1rem 2rem;
  }

  .mkg-type .mkg-img img {
    width: 33rem;
    height: auto;
    margin-right: 4rem;
  }

  .mkg-type2 .mkg-img img {
    width: 33rem;
    height: auto;
    margin-left: 4rem;
  }

  .mkg-desc ul li:before {
    content: "\002D";
    position: absolute;
    margin-left: -20px;
  }

  .mkg-lists ul {
    column-count: 3;
    list-style: none;
  }

  @media only screen and (max-width: 900px) {
    .mkg-type {
      flex-direction: column;
    }

    .mkg-type2 {
      flex-direction: column;
    }

    .mkg-type .mkg-img img {
      width: 90vw;
      height: auto;
      margin-right: 0;
    }

    .mkg-type2 .mkg-img img {
      width: 90vw;
      height: auto;
      margin-left: 0;
    }

    .mkg-lists ul {
      column-count: 1;
    }
  }
</style>
