---
import MainLayout from "../layouts/MainLayout.astro";

let title = "Our Team - Lucky XP Marketing";
---

<MainLayout title={title}>
  <div class="teamcontainer">
    <div class="member">
      <div class="member-img">
        <img
          src="https://edrosillo.sirv.com/Our%20Team/Lindsay%20Merlin.png"
          width="450"
          height="450"
          alt=""
        />
      </div>
      <div class="member-bio">
        <h1>Lindsay Merlin</h1>
        <h2>Chief Operations Officer</h2>
        <p>
          Lindsay Merlin started out in 2005 working as a promotional model for
          a variety of event marketing agencies. She was invited to come on
          board full time in 2006 as an Account Manager. Since 2005, she has
          managed all types of events and promotions stateside and in Canada.
          She is a dedicated leader and works diligently to make sure each event
          is an absolute success.
        </p>
      </div>
    </div>
    <div class="member">
      <div class="member-img">
        <img
          src="https://edrosillo.sirv.com/Our%20Team/Casie%20Wagoner.png"
          width="450"
          height="450"
          alt=""
        />
      </div>
      <div class="member-bio">
        <h1>Casie Wagoner</h1>
        <h2>Senior Account Manager</h2>
        <p>
          Casie is an event specialist that started out in promotional marketing
          in 2008. After traveling the country on tour with several marketing
          companies and television shows, Casie started booking events as an
          account manager in 2014.
        </p>
      </div>
    </div>
    <div class="member">
      <div class="member-img">
        <img
          src="https://edrosillo.sirv.com/Our%20Team/Kelly%20Worth.png"
          width="450"
          height="450"
          alt=""
        />
      </div>
      <div class="member-bio">
        <h1>Kelly Worth</h1>
        <h2>Accounting Manager</h2>
        <p>
          <br /> PLEASE SEND ALL PAPERWORK TO <br />
          <a href="mailto:accounting@lucky415.com">accounting@lucky415.com</a>
          <br /> Scan or Fax *(415-358-4966)
        </p>
      </div>
    </div>
    <div class="member">
      <div class="member-img">
        <img
          src="https://edrosillo.sirv.com/Our%20Team/Eduardo%20Rosillo.png"
          width="450"
          height="450"
          alt=""
          alt=""
        />
      </div>
      <div class="member-bio">
        <h1>Eduardo Rosillo</h1>
        <h2>Account Manager</h2>
        <p>
          Lindsay Merlin started out in 2005 working as a promotional model for
          a variety of event marketing agencies. She was invited to come on
          board full time in 2006 as an Account Manager. Since 2005, she has
          managed all types of events and promotions stateside and in Canada.
          She is a dedicated leader and works diligently to make sure each event
          is an absolute success.
        </p>
      </div>
    </div>
    <div class="member">
      <div class="member-img">
        <img
          src="https://edrosillo.sirv.com/Our%20Team/Laura%20Meador.png"
          width="450"
          height="450"
          alt=""
        />
      </div>
      <div class="member-bio">
        <h1>Laura Meador</h1>
        <h2>Account Manager</h2>
        <p>
          Laura has worked as an account manager with Lucky 415 since 2007,
          making sure each event is an absolute success for every client, large
          and small! She is dedicated and thorough and always knows how to
          maximize your company's ROI.
        </p>
      </div>
    </div>
    <div class="member">
      <div class="member-img">
        <img
          src="https://edrosillo.sirv.com/Our%20Team/Elena%20Phillips.png"
          width="450"
          height="450"
          alt=""
        />
      </div>
      <div class="member-bio">
        <h1>Elena Phillips</h1>
        <h2>
          Event Staffing Specialist, Greater Texas Market Street Teams and Event
          Staffing Specialist
        </h2>
        <p>
          US Event Staffing <br /> ephillips@lucky415.com <br /> Office: 415-365-0041
          ext 0
        </p>
      </div>
    </div>
  </div>
</MainLayout>

<style>
  .teamcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: 1fr;
    max-width: 1160px;
    margin: 0 auto;
  }

  .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 2rem 3rem;
  }

  .member-bio {
    height: 250px;
  }

  .member-bio p,
  h1,
  h2 {
    text-align: center;
  }

  .member-bio h1,
  h2 {
    color: #440b70;
  }

  .member-img img {
    width: 18rem;
    height: auto;
  }
</style>
