---
let {title} = Astro.props;
---

<meta charset="utf-8" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title> {title} </title>
<!-- Primary Meta Tags -->
<meta name="title" content="Lucky XP Marketing and Promotions">
<meta name="description" content="Since 2002, Lucky Marketing has been providing event staffing solutions in all facets of the experiential marketing world around the United States and Canada. Find out how we can help make your event a success. Get to know us! We are event staffing professionals with a collective 30 years of experience.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://luckymkg.com/">
<meta property="og:title" content="Lucky XP Marketing and Promotions">
<meta property="og:description" content="Since 2002, Lucky Marketing has been providing event staffing solutions in all facets of the experiential marketing world around the United States and Canada. Find out how we can help make your event a success. Get to know us! We are event staffing professionals with a collective 30 years of experience.">
<meta property="og:image" content="https://luckyxp.sirv.com/Meta/Lucky%20XP%20Meta%20Image.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://luckymkg.com/">
<meta property="twitter:title" content="Lucky XP Marketing and Promotions">
<meta property="twitter:description" content="Since 2002, Lucky Marketing has been providing event staffing solutions in all facets of the experiential marketing world around the United States and Canada. Find out how we can help make your event a success. Get to know us! We are event staffing professionals with a collective 30 years of experience.">
<meta property="twitter:image" content="https://luckyxp.sirv.com/Meta/Lucky%20XP%20Meta%20Image.png">