---
import MainHead from "../components/MainHead.astro"
import Nav from "../components/Nav/Navbar.svelte"
import Footer from "../components/Footer/Footer.astro"

let { content } = Astro.props;
let { title, description, publishDate, author } = content;

---

<html lang={content.lang || "en"}>
	<head>
        <MainHead 
		title={title}
		desciption = {description}
		publishDate = {publishDate}
		author = {author} />
    <style>
		html,
		body {
		margin: 0;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
		scroll-behavior: smooth;
		}

		article {
			min-height:80vh;
			margin: 0 auto;
			max-width: 1160px;
			padding: 0 3rem;
		}

		:global(h1) {
			color: #440b70;
			font-size: 2.5rem;
		}

		:global(img){
			max-width: 380px;
			width: auto;
			max-height: 380px;
			height: auto;
		}

		:global(p) {
			font-size: 1.3rem;
			line-height: 2rem;
		}

		:global(a) {
			text-decoration: none;
			color: #440b70;
		}

		@media only screen and (max-width: 800px) {
			article {
				padding: 0 2rem;
			}

			:global(img){
				max-width: 90vw;
				max-height: 300px;
			}
  		}

    </style>
	</head>
	<body>
		<Nav></Nav>
		<h1></h1>
		<article>
			<slot />
		</article>
		<Footer></Footer>
	</body>
</html>