---
import MainHead from "../components/MainHead.astro"
import Nav from "../components/Nav/Navbar.svelte"
import Footer from "../components/Footer/Footer.astro"

let {title} = Astro.props;

---
<html lang="en">
	<head>
        <MainHead title={title} />
	<style>
		body {
		margin: 0;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
		scroll-behavior: smooth;
		}

	</style>
	</head>
	<body>
		<Nav client:load></Nav>
		<slot />
		<Footer></Footer>
	</body>
</html>