---

---

<nav id="nav" class="navbar">
    <div class="inner container-fluid">
        <a class="navbarLogo" href="#home"> 
            <img src="/assets/LuckyXP_LOGO.png" alt="Lucky XP Logo" width=247px height=64px> 
        </a>
        <div class="navbarMenu">
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/team">Our Team</a></li>
            <li><a href="/new_staff">New Staff</a></li>
          </ul>
        </div>
    </div>
</nav>

<style>

nav {
overflow: hidden;
background-color: rgb(255, 255, 255);
height: 4rem;
padding: 1rem;
position: sticky;
top: 0;
z-index: 50;
}

.container-fluid {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.navbarLogo {
    display: inline-block;
}

.navbarMenu{
  margin-left: 3rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.navbarMenu li {
  display: inline-block;
}


/* Style the links inside the navigation bar */
.navbarMenu a {
  color: #662D91;
  padding: 0 1rem;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  float: right;
  text-align: left;
}

/* Change the color of links on hover */
.navbarMenu a:hover {
  color: #7F68CA;
}

</style>